html {
	overflow-x: auto;
	overflow: auto
}


* body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;

	margin: 0px;
	padding: 0px;
	

	background: #acb9c5 url("../images/body.jpg") top left repeat-x;
	background-attachment:fixed;

	line-height: 1.5em;
	text-align: center; /* centers board in MSIE */
	height: 100%;
	min-height: 100%;
}

a:link,
a:visited,
a:active{
	color: #222;
}

a:hover {
	color: #5f6069;
}

textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}

input {
	font-family: verdana, helvetica, sans-serif;
	font-size: 11px;
	margin: 5px;
	padding: 2px;
	vertical-align: middle;
}

form .main {
	width:97%;
	height:100px;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	overflow:visible;
	margin:5px auto;
	padding:1px;
	background:#FBFBFB;
	border:1px solid #999;
}

img {
	border: 0; /* makes sure linked images do not have a border */
	vertical-align: middle;
}

form{
	display: inline;
	margin: 0; /* removes mystery form tag gapping */
	padding: 0; /* removes mystery form tag gapping */
}



/* *****************************************************************************
							News System Styles 
***************************************************************************** */
.fadelisting {
	background: url("../images/fade.jpg") bottom left repeat-x;
	margin-bottom: 10px;
	padding-left: 6px;
	padding-right: 6px;
	padding-bottom: 6px;
}

.header {
	font-size: 20px;
	color: #000;
	font-weight: bold;
	line-height: 1.2em;
	font-family: arial;
}

.h4 {
	font-weight: normal;
	font-size: 10px;
}

.content {
	font-size: 12px;
	font-weight: normal;
}

/* *****************************************************************************
							Gallery System Styles 
***************************************************************************** */
.imgborder {
border:1px solid #CCCCCC;
padding:4px;
}

.h3 {
font-size:13px;
font-weight:bold;

padding-left: 5px;
padding-top: 2px;
padding-bottom: 10px;
}

.desc {
padding-left: 8px;
padding-top: 5px;
}

.divider {
border-bottom:1px dashed #DDDDDD;
display:block;
margin-bottom:2px;
margin-right:8px;
margin-top:2px;
}

/* *****************************************************************************
							Guestbook System Styles 
***************************************************************************** */
#thread {
	background: #fff;
}


/* *****************************************************************************
							User Menu System Styles
***************************************************************************** */

#topnav2 {
height: 29px !important;
background: #2358b8 url('../images/header/bkg_menubar.png') 0 0 repeat-x;
z-index:200 !important;
padding:0 !important;
margin:0 !important;
text-align:center; 
border-bottom: 1px solid #FFFFFF;
}

#topnav2 a:hover { color:#040C5C; }

#topnav2 ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border-right: 1px #1B4591 solid;
	display:block;
}

#topnav2 * {
	color:#fff;
}
#topnav2 ul#leftNav
{
    float: left;
}           
#topnav2 ul#rightNav
{
    float: right;
}			       
#topnav2 ul li
{
    padding: 0;
    margin: 0;
    float: left;
    border-left: 1px #1B4591 solid;
	height: 29px;
}            
#topnav2 ul li a
{
    padding: 0 10px;
    height: 29px;
    line-height: 29px;
    text-decoration: none;
    display: block;
	float:left;
}     
#topnav2 ul li a small{font-size:8px;}       
#topnav2 ul li a:hover
{
    background-color: #1548ae;
    color: #eee;
}   
#topnav2 ul li a.open small{color: #003399;}       

#topnav2 ul li a.open
{
    background: #fff;
    color: #003399;
}
#topnav2 ul li a.open:hover
{
    background: #d9eafb;
    color: #036;
}

#subnav *
{
    text-transform: none !important;
    color: #003399 !important;
    text-decoration: none !important;
}        
#subnav ul
{
    position: absolute;
    left: -10000px;
    padding: 0 !important;
    margin: 0 !important;
    border: 1px #cfcfcf solid;
    border-top: none;
    background: #fff;
	list-style:none;
	display:block;
	float:left;
	z-index:10005 !important;
	text-align:left;
}            
#subnav  ul  li
{
    padding: 0;
    margin: 0;
    height: 22px;
    line-height: 22px;
    border-bottom: 1px #fff solid;
	display:block;
	float:left;
	clear:both;
}            
#subnav  ul  li.divider
{
    border-bottom-color: #cfcfcf;
}			
#subnav  ul li.last
{
    border-bottom: none;
}            
#subnav ul li a
{
    padding: 0 5px 0 9px;
    height: 22px;
    line-height: 22px;
    text-decoration: none;
    display: block;
	float:left;
	white-space:nowrap;
}           
#subnav ul li a:hover
{
    background: none #d9eafb;
    color: #036;
}
#framer{border:none;display:none;position:absolute;}     



.errorwrap {
	background: #F2DDDD;
	border: 1px solid #992A2A;
	border-top: 0;
	margin: 5px;
	padding: 0;
}


.errorwrap h4 {
	background: #E3C0C0;
	border: 1px solid #992A2A;
	border-left: 0;
	border-right: 0;
	color: #992A2A; 
	font-size: 12px;
	font-weight: bold; 
	margin: 0;
	padding: 5px;
}

.errorwrap p {
	background: transparent;
	border: 0;
	color: #992A2A;
	margin: 0;
	padding: 8px;
}

.errorwrap td {
	color: #992A2A;
}

.errorwrap input {
	background: #E3C0C0;
	border: 1px solid #992A2A;
	color: #992A2A; 
	font-size: 12px;
 	margin: 0;
	padding: 0;
}


/*************************************************** */
#header {
	background:#2358B8 url("../../../bkg_msbar.png") repeat-x scroll center bottom;
	margin-left:8px;
	padding:0px;
	text-align:center;
	width:980px;
	
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 4px;
	padding-right: 4px;
	height: 87px
}

#headermain {
	width:987px;
	height: 50px;
	float: left;
	
	border:0 none;
	margin:5 5px;
	padding:0 0px;
	
	background-color: #2358B8;
	background-image:url("../../../bkg_msbar.png");
	background-position:bottom;
	background-repeat:repeat-x;
	background-attachment:scroll;

}


#headerright {
	width: 0px;
	height: 50px;
	float: left;
}

#headerleft {
	width: 0px;
	height: 50px;
	float: left;
}

h2 {
background:transparent url("../../../bgSheet.png") repeat-x scroll left -864px;
color:#FFFFFF;
font-size:12px;
font-weight:bold;
margin:0 0 0.6em;
padding:0.7em;
}
div.module {
margin-bottom:1em;
}
div.b div div, div.tb div div, div.bb div div {
font-size:0;
height:5px;
margin:0 4px;
}
div.tb div div, div.bb div div {
background:#FFFFFF none repeat scroll 0 0;
}
div.mb {
background:#FFFFFF none repeat scroll 0 0;
border-color:#A8A8A8;
border-style:solid;
border-width:0 1px;
padding:0.1em 6px;
}
div.tb div div {
border-top:1px solid #A8A8A8;
}
div.bb div div {
border-bottom:1px solid #A8A8A8;
}
div.b, div.b div, div.tb div, div.tb, div.bb, div.bb div {
background:transparent url("../../../cornersSheet.png") no-repeat scroll left top;
}
div.tb div {
background-position:right top;
}
div.bb {
background-position:left -7px;
}
div.bb div {
background-position:right -7px;
}
div.b {
background-position:left -56px;
}
div.b div {
background-position:right -56px;
}
div.b div div {
background:transparent url("../../../bgSheet.png") repeat-x scroll left -792px;
}

.featBanner {
text-align: center;
}